<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <link rel="stylesheet" href="/css/base.css" />
  <meta
    id="_csrf"
    name="_csrf"
    content="705e33d0-acf6-467d-a7f4-0d94415bb4c1"
  />
  <meta id="_csrf_header" name="_csrf_header" content="X-CSRF-TOKEN" />
  <head th:replace="layout/header::userHead"></head>

  <body>
    <script th:src="@{/js/jquery-2.1.3.min.js}"></script>
    <script>
      // $('#list').click(function () {
      //     $.ajax({
      //         url: "http://localhost:8080/api/boards",
      //         type: "GET",
      //         contentType: "application/json",
      //         dataType: "json",
      //         success: function (data) {
      //             console.log(data);
      //         },
      //         error: function (e) {
      //             alert(e.responseText);
      //             console.log(e);
      //         }
      //     });
      // });

      function messages() {
        const csrfHeader = $('meta[name="_csrf_header"]').attr("content");
        const csrfToken = $('meta[name="_csrf"]').attr("content");

        $.ajax({
          type: "POST",
          url: "/api/messages",
          dataType: "json",
          contentType: "application/json;charset=UTF-8",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
            xhr.setRequestHeader("X-Request-With", "XMLHttpRequest");
            xhr.setRequestHeader(
              "Content-type",
              "application/json;charset=UTF-8"
            );
          },
          error: function (xhr, status, error) {
            console.log(error);
            if (xhr.responseJSON.status == "401") {
              window.location =
                "/api/login?error=true&exception" + xhr.responseJSON.message;
            } else if (xhr.responseJSON.status == "403") {
              window.location =
                "/api/denied?exception=" + xhr.responseJSON.message;
            }
          },
        });
      }
    </script>
    <div th:replace="layout/top::header"></div>
    <div class="container">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#"
                  >대시보드 <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mypage">사용자 페이지</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/messages">매니저 페이지</a>
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  onclick="messages()"
                  style="margin: 5px"
                  class="nav-link text-primary"
                  >메시지</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/config">환경 설정</a>
              </li>
              <li class="nav-item">
                <a href="nav-link" th:href="@{/pre-authorize(username='user')}">@Method Security</a>
              </li>
            </ul>
          </div>
        </nav>
        <div style="padding-top: 50px" class="col">
          <div class="container text-center">
            <h1 class="text-primary">DASHBOARD</h1>
            <div class="security"></div>
            <h1>Core Spring Security 에 오신 것을 환영합니다.</h1>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="layout/footer::footer"></div>
  </body>
</html>
